{% extends 'layout/base.html' %}

{% block content %}
<main class="container mt-3">
    {% include 'layout/hero.html' %}

    <section>
        {% for category in categories %}
        <h3 class="my-4">{{ category.title }}</h3>
        <div class="row mt-4">
            {% for meal in category.meals %}
            <div class="col-12 col-md-4">
                <div class="card mb-3">
                    <img src="{{ url_for('static', filename='meals/' + meal.picture) }}" width="300" height="200" class="card-img-top" alt="{{ meal.title }}">
                    <div class="card-body">
                        <h4 class="h5 card-title">{{ meal.title }}</h4>
                        <p class="card-text">{{ meal.description }}</p>
                        <a href="/addtocart1/" class="btn btn-danger">В корзину</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        {% endfor %}
    </section>
</main>
{% endblock %}